* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

body {
    background: linear-gradient(
        90deg,
        rgb(77, 142, 216, 1) 0%, 
        rgb(84, 240, 188) 100%
    );
    display: grid;
    place-items: center;
    min-height: 100vh;
}

section {
    display: grid;
    place-items: center;
}

h1 {
    color: #fff;
    font-size: 50px;
    text-align: center;
}

p {
    color: #fffe;
    margin-bottom: 30px;
    font-weight: bold;
}

.conteiner {
    place-items: center;
    border: 3px solid #fff;
    padding: 5px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
}

.caixa-campo-entrada {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    display: block;
}

.campo-entrada {
    width: 80%;
    float: left;
    font-weight: bold;
    padding: 0px;
    border: 1px solid #000;
    border-right: 0px;
    border-radius: 5px 0px 0px 5px;
}

.botaoAdd {
    width: 20%;
    font-weight: bold;
    background: rgb(15, 255, 135);
    color: #fff;
    border-radius: 0px 5px 5px 0px;
    border-width: 1px;
}

.botaoAdd:hover{
    background: rgb(101, 255, 183);
}

.listaTarefas {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    display: block;
}

.fa {
    margin: 0px 4px;
}

.tarefa .fa {
    width: 5%;
}

.tarefa {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5px;
    gap: 5px;
    border-top: solid 1px #eee;
    border-right: solid 1px #777;
    border-bottom: solid 1px #777;
    border-left: solid 1px #eee;
    margin-bottom: 5px;
    width: 100%;
}

.tarefa:hover {
    border-top: solid 1px #777;
    border-right: solid 1px #eee;
    border-bottom: solid 1px #eee;
    border-left: solid 1px #777; 
}

.tarefa .textoLista {
    width: 85%;
    font-weight: bold;
    line-height: 20px;
}

.fa-check-square {
    color: #08ad08;
}

.fa-square:hover {
    color: #63be63;
}

.fa-check-square:hover {
    color: #63be63;
}

.fa-pencil-square:hover {
    color: #215f94;
}

.fa-trash-can:hover {
    color: #F00;
}

.riscado {
    text-decoration: line-through;
}

.oculto {
    display: none;
}